<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="row">
        <div class="col-sm-8">
            <div class="jumbotron">
                <h1>add monsters</h1>

                <p>this page is only for ease to add stuff, not styled at all</p><i class="fa fa-home fa-2x"></i>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="well">
                <h3>add a monsters</h3>

                <form action="/test" id="insertMonster" method="post" name="insertMonster">
                    <input name="monsterName" placeholder="Monster name" type="text"><br>
                    <input name="monsterCharacteristic" placeholder="Characteristics" type="text"><br>
                    <input name="monsterLocation" placeholder="Location" type="text"><br>
                    <input name="monsterFood" placeholder="Feeding habbits" type="text"><br>
                    <input name="monsterKill" placeholder="text" type="text"><br>
                    <button type="submit">Add monster to db</button>
                </form>
            </div>
        </div>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>