<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<header>
	<% include ../partials/header %>
</header>

<div id="wrap">
	<main>
		<div class="row">
			<div class="col-lg-6 col-sm-6 col-lg-offset-6">
				<a href="/"><img src="../images/logo-01.png"></a>

				<ul>
					<% for(var i = 0; i < allMonsters._settledValue.length; i++) { %>

					<li>
						<h2><a href="view/<%= allMonsters._settledValue[i].monsterName%>"><%= allMonsters._settledValue[i].monsterName %></a></h2>
					</li><%}%>
				</ul>
			</div>
		</div>
	</main>
</div>

<footer class="footer">
	<% include ../partials/footer %>
</footer>