<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="jumbotron">
			<h1>This is great</h1>
			<p>Welcome to templating using ejs</p>

		<form action="/test" method="post" id="insertMonster">
				<input type="text" name="monsterName" placeholder="Monster name"><br>
				<input type="text" name="monsterCharcteristics" placeholder="Characteristics"><br>
				<input type="text" name="monsterLocation" placeholder="Location"><br>
				<input type="text" name="monsterFood" placeholder="Feeding habbits"><br>
				<input type="text" name="monsterDesc" placeholder="text"><br>
				<button type="submit">Add monster to db</button>
			</form>

		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>


</body>
</html>