<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<header>
	<% include ../partials/header %>
</header>

<div id="wrap">
	<div class="container-fluid">
		<main>
			<div class="row">
				<div class="col-lg-6 col-sm-6 col-lg-offset-6 advanced_search">
					<div class="container-4">
						<form action="/searchAll" method="post">
							<input id="search" name="search" placeholder="Search for monsters..." type="search"> 
							<button class="icon fa fa-search" style="font-style: italic"></button>
						</form>
					</div>
				</div>
			</div>
		</main>
	</div>
</div>

<footer class="footer">
	<% include ../partials/footer %>
</footer>