<!-- views/partials/header.ejs -->
<div id="nav-off-canvas">

    <h2>stuff</h2>
    <ul>
    	<li><a href="/"><i class="fa fa-home fa-3x"><br><h4>home</h4></i></a></li>
    	<li><a href="/serach"><i class="fa fa-search fa-3x"><br><h4>search</h4></i></a></li>
    </ul>

</div>

<nav class="navbar navbar-default" role="navigation">

                <i class="fa fa-bars fa-3x" id="menu-toggle" title="false"></i>
</nav> <div class="clearfix"></div>

