<!-- views/partials/header.ejs -->
<div id="nav-off-canvas">

    <h2>stuff</h2>

</div>

<nav class="navbar navbar-default" role="navigation">

                <i class="fa fa-bars fa-3x" id="menu-toggle" title="false"></i>
</nav> <div class="clearfix"></div>

